@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
    font-family: 'Rubik', sans-serif;
}

* {
    box-sizing: content-box;
}

article {
    background: #CCC;
    width: 180px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

article > header {
    background: #5F5F5F;
    color: white;
    margin: 0;
    padding: 4px 6px;
}

article > header > h1 {
    margin: 0;
}

article > select {
    width: 100%;
    margin-bottom: 10px;
}

article > input {
    width: calc(100% - 4px); /* Adjusting for input padding */
    margin-bottom: 10px;
}

article > button {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    background: green;
    color: white;
    font-weight: bold;
}

article > button:hover {
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}

button#btnDelete {
    background: red;
}

#result {
    width: 50%;
    margin: 10px auto;
    padding: 10px 15px;
    background: #DDD;
    border-radius: 5px;
    border: 1px solid #777;
    text-align: center; /* Aligning text to center */
}